<extend name="Common:parent"/>
<block name="content">
    <h4>欢迎</h4>
    <!--<div class="row">-->
        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
            <!--<div class="dashboard-stat blue-madison">-->
                <!--<div class="visual">-->
                    <!--<i class="fa fa-comments"></i>-->
                <!--</div>-->
                <!--<div class="details">-->
                    <!--<div class="number">-->
                        <!--{$PCase}-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--拥有资产的案件总数-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="more" href="{:U('Case/index')}?filterKey=propertyCase&audit_status=1">-->
                    <!--查看更多 <i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
            <!--<div class="dashboard-stat red-intense">-->
                <!--<div class="visual">-->
                    <!--<i class="fa fa-bar-chart-o"></i>-->
                <!--</div>-->
                <!--<div class="details">-->
                    <!--<div class="number">-->
                        <!--{$CCase}-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--公司被吊销的案件总数-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="more" href="{:U('Case/index')}?filterKey=revocationCase&audit_status=1">-->
                   <!--查看更多 <i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
            <!--<div class="dashboard-stat green-haze">-->
                <!--<div class="visual">-->
                    <!--<i class="fa fa-shopping-cart"></i>-->
                <!--</div>-->
                <!--<div class="details">-->
                    <!--<div class="number">-->
                        <!--{$Case}-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--已收录的案件数-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="more" href="{:U('Case/index')}?filterKey=recordCase&audit_status=1">-->
                    <!--查看更多 <i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
            <!--<div class="dashboard-stat purple-plum">-->
                <!--<div class="visual">-->
                    <!--<i class="fa fa-globe"></i>-->
                <!--</div>-->
                <!--<div class="details">-->
                    <!--<div class="number">-->
                        <!--{$BeExecP}-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--已收录的被执行人数-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="more" href="{:U('Case/index')}?filterKey=recordBeExecP&audit_status=1">-->
                    <!--查看更多 <i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
            <!--<div class="dashboard-stat blue-madison">-->
                <!--<div class="visual">-->
                    <!--<i class="fa fa-comments"></i>-->
                <!--</div>-->
                <!--<div class="details">-->
                    <!--<div class="number">-->
                        <!--{$Property}-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--已收录的资产数-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="more" href="{:U('Property/index')}?filterKey=recordProperty">-->
                    <!--查看更多 <i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
            <!--<div class="dashboard-stat red-intense">-->
                <!--<div class="visual">-->
                    <!--<i class="fa fa-bar-chart-o"></i>-->
                <!--</div>-->
                <!--<div class="details">-->
                    <!--<div class="number">-->
                        <!--{$MCase}-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--本月新增的已收录的案件数-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="more" href="{:U('Case/index')}?filterKey=mRecordCase&audit_status=1">-->
                    <!--查看更多 <i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
            <!--<div class="dashboard-stat green-haze">-->
                <!--<div class="visual">-->
                    <!--<i class="fa fa-shopping-cart"></i>-->
                <!--</div>-->
                <!--<div class="details">-->
                    <!--<div class="number">-->
                        <!--{$MBeExecP}-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--本月新增的已收录的被执行人数-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="more" href="{:U('Case/index')}?filterKey=mRecordBeExecP&audit_status=1">-->
                    <!--查看更多 <i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
            <!--<div class="dashboard-stat purple-plum">-->
                <!--<div class="visual">-->
                    <!--<i class="fa fa-globe"></i>-->
                <!--</div>-->
                <!--<div class="details">-->
                    <!--<div class="number">-->
                        <!--{$MProperty}-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--本月新增的已收录的资产数-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="more" href="{:U('Property/index')}?filterKey=mProperty">-->
                    <!--查看更多 <i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</block>
</block>