<div id="[id]" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">[tip]</h4>
            </div>
            <div class="modal-body">
                <p>[tip]</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">关闭</button>
                <!--<button type="button" data-dismiss="modal" class="btn red" onclick="noPassAudit()">不通过审核</button>-->
                <button type="button" data-dismiss="modal" class="btn blue" onclick="[yes]()">确认</button>
            </div>
        </div>
    </div>
</div>