<div class="fileinput fileinput-new" data-provides="fileinput" style="width: 100%;">
    <div class="fileinput-new thumbnail" style="width: 100%;">
        <img src="[thumb]" alt="" style="width: 100%;"/>
    </div>
    <div class="fileinput-preview fileinput-exists thumbnail" style="width: 100%;"></div>
    <div class="progress progress-success progress-striped margin-bottom-5" id="[name]_progress" style="width: 100%;">
        <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
    </div>
    <div>
    <span class="btn-sm btn default btn-file">
      <span>
          选取图片
      </span>
      <input type="file" id="[name]" name="[name]"/>
      <input type="hidden" name="picture_path" value="[picture_path]"/>
    </span>
    </div>
    <div class="clearfix margin-top-5">
        <span class="help-block">[tip]</span>
    </div>
</div>
<script>
    window.onload = function () {
        var obj = $("#[name]_progress");
        var progressObj = obj.find(".progress-bar");
        $("#[name]").fileupload({
            autoUpload: true, // 是否自动上传
            url: "[url]", // 上传地址
            dataType: "json",
            singleFileUploads: true,
            add: function (e, data) {
                progressObj.css("width", 0);
                data.submit();
            },
            done: function (e, data) {
                if (data.result.code == 200) {
                    progressObj.html("<font color='white'>" + data.result.msg + "</font>");
                    $("input[name='picture_path']").val(data.result.path);
                } else {
                    progressObj.html("<font color='red'>" + data.result.msg + "</font>");
                }
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                progressObj.css("width", progress + "%");
                if (progress <= 100) {
                    progressObj.html(progress + "%");
                } else {
                    progressObj.html("上传成功");
                }
            }
        });
    }
</script>